{% extends 'base.html' %}
{% block section %}

{% if request.user.is_authenticated %}
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="pseudo" placeholder="pseudo"><br>
    <input id="upload-photo" type="file" name="img" placeholder="image">

    <!-- {{ form.as_p }} -->
    <button enctype="multipart/form-data"  type="=submit" class="save btn btn-default">Save</button>

</form>

{% else %}
    <h3>You can't use our service,connect please::</h3>
    <a href="http://127.0.0.1:8000/konekte/">Ale_Konekte</a>
{% endif %}
{% endblock %}